/* 
@media only screen and (min-width: 600px) {
  .words {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
} */

/* .scroll-bar::-webkit-scrollbar {
  display: none;
} */

/* .scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
